body {
  background-color: #000;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  background-color: #2d2d2d;
  padding: 0;
}
.space-between {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #cac9c9;
  display: block;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
